<h1>List of venues</h1>

<ul id="event-list">
    {{#each model as |event|}}
        <li class="event">
            <img src="" width="150" height="150">
            <dl>
                <dt class="name">Name</dt>
                <dd class="name">{{event.name}}</dd>
                <dt class="host">Host</dt>
                <dd class="host">{{event.venue.name}}</dd>
                <dt class="address">Address</dt>
                <dd class="address">{{event.venue.address_1}}, {{event.venue.city}}</dd>
                <dt class="time">Time</dt>
                <dd class="time">{{event.time}}</dd>
                <dt class="latlon">Lat/Lon</dt>
                <dd class="latlon">{{event.venue.lat}}, {{event.venue.lon}}</dd>
            </dl>
        </li>
    {{/each}}
</ul>
